<section class="image-with-note-section">
  <div class="container">
    <div class="image-with-note-content">
      <h1>
        {{ section.settings.heading }}
      </h1>

      <p>
        {{ section.settings.subheading }}
      </p>

      <div class="images-main">
        <div class="images-left">
          <div class="image-and-note">
            <img
              src="assets/image1.png"
              alt="Image 1"
              width="480"
              height="357">
            <div class="note">
              <img
                src="assets/sticker.png"
                alt=""
                width="100"
                height="40">
              <p>
                {{ section.settings.noteText }}
              </p>

              {% render 'custom-button'
                , button_text: "Subscribe now" %}
            </div>

          </div>

          <img
            src="assets/image2.png"
            alt="Image 2"
            width="786"
            height="459">

        </div>
        <div class="images-right">
          <img
            src="assets/image3.png"
            alt="Image 3"
            width="380"
            height="527">
          <img
            src="assets/image4.png"
            alt="Image 4"
            width="380"
            height="294">
        </div>
      </div>

      <div class="swiper note-image-swiper">
        <div class="swiper-wrapper note-image-wrapper">
          <div class="swiper-slide">
            <img
              src="assets/sticker.png"
              alt=""
              width="100"
              height="40">
            <p>
              {{ section.settings.noteText }}
            </p>

            {% render 'custom-button'
              , button_text: "Subscribe now" %}
          </div>
          <div class="swiper-slide">
            <img
            src="assets/image1.png"
            alt="Image 1"
            width="480"
            height="357">
          </div>
          <div class="swiper-slide">
            <img
              src="assets/image2.png"
              alt="Image 2"
              width="786"
              height="459">
          </div>
          <div class="swiper-slide">
            <img
            src="assets/image3.png"
            alt="Image 3"
            width="380"
            height="527">
          </div>
          <div class="swiper-slide">
            <img
            src="assets/image4.png"
            alt="Image 4"
            width="380"
            height="294">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
  if (window.innerWidth <= 1000 && typeof Swiper !== 'undefined') {
    new Swiper('.note-image-swiper', {
      slidesPerView: 1,
      spaceBetween: 20,
      loop: true,
    });
  }
});
</script>


{% style %}
  .image-with-note-section {
    background-image: url('{{ "bg-blue.png" | asset_url }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 2000px;
  }
{% endstyle %}


{% schema %}
  {
    "name": "Images with Note Section",
    "class": "images-with-note-class",
    "settings": [
      {
        "type": "text",
        "default": "Outdoor Fun Continues Each Month",
        "id": "heading",
        "label": "Heading"
      }, {
        "type": "text",
        "default": "Each new box comes with products, activities, and a booklet with learning material and games",
        "id": "subheading",
        "label": "Subheading"
      }, {
        "type": "text",
        "default": "You can expect lots of different themes all built around learning and spending time outdoors like Animals, Star Gazing, Gardening, Parks, Outdoor Crafts & Games, and many more!",
        "id": "noteText",
        "label": "Note Text"
      }
    ],
    "presets": [
      {
        "name": "Custom Images With Note Section"
      }
    ]
  }
{% endschema %}